body{

    margin: 0;
    font-family: 'Lato', sans-serif;

}
.my-intro{

    height: 800px;
    padding-top: 50px;
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;

}
.resume-section{
    height: 800px;
    padding-top: 50px;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;

}
.half-width{

    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {

    width: 100% ;
}
.introarea{
    margin-top: 200px;
}
.name-highlights{
    color: orangered;
}
h1{
    font-size: 50px;
}
h2{
    font-size:30px;
}
h3{
    font-size: 35px;
}
.link-button{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
}
.link-button:hover{
    padding: 15px 25px;
    border-radius: 20px;
}

.para-alaign{

    padding-bottom: 20px;
    font-size: 18px;
    color: dimgray;
}
.quarter-width{

    width: 27%;
    float: left;
    margin: 0% 3%;
}

.quarter-width img {

    width: 98%;
    transition: 0.3s;
}
.quarter-width img:hover{

    width: 100%;
    border: 5px solid orangered;
}
.latest-work{

    height: 700px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 20px;
    padding-bottom: 30px;
    
}

.text-alaign{
    text-align: center;
    padding: 20px 0;
}
.top-footer{

    height: 700px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 30px;
    margin-top: 100px;
}
.testimonial{

    text-align: center;
}
.footer-box{

    background-color: orangered;
    margin: 50px 400px;
    border-radius: 20px;
    padding: 50px 0;
    color: whitesmoke;
}
.footer-text{

    margin: 50px 0;
    text-align: center;
    
}